body{
background-color:#ededed;
}

#header {
	position:fixed;
	top:8px;
	width:15%;
	float:left;
	background-color:#4aaaa5;
	color:white;
	left:5%;
	text-align:center;
}
h2 {
	color:#4aaaa5;
}
#nav{
	position:relative;
	top:0;
	width:100%;
	float:right;
	text-align:right;
	padding-top:25px;
	padding-bottom:25px;
	padding-right:80px;
	background-color:white;


}

#section {
	position:fixed;
	padding-top:20px;
	border: 1px solid grey;
	background-color:white;
	right:40%;
	top:13%;
	left:5%;
	bottom:30%;
	

}
@media screen and (max-height: 980px){
	section{
		height:80%;
		width:30%;

		
	}
.img1 {
	background-size: auto;
	height:200px;
	width:200px;
	padding-left:5%;
	float:left;
	
}
#p {
	padding-left:25px;
	width:95%;
	border-color:black;
	border:2px;
}


h3 {
	color:#4aaaa5;
	text-align:top;
	position:fixed;
	right:21%;
	padding-top:10%;

}

#aside {

	position:fixed;
	right:20%;
	
	top:32%;
}
 


#p2 {
	color:grey;
	padding-left:10%;
	padding-right:33%;
	position:relative;
	float:left;
	position:absolute;

}
#footer {
	position:fixed;
	bottom:0;
	width:100%;
	text-align:center;
	background-color:grey;
	color:white;
	font-size:12px;
	padding-top:2%;
	padding-bottom:2%;
	border-top: 10px solid #4aaaa5;
	
}

.icon{
	
	
	height:40px;
	width:40px;
	float:right;
	margin:auto;
	padding-right:10px;
	display:block;


}
.form1{

	border:1px solid black;
	height:25px;
	width:80%;


}
#form2{
	border:1px solid black;
	width:80%;
	height:100px;
}

#form3{
	border:1px solid #black;
	width:15%;
	height:25px;
	background-color:#4aaaa5;
	text-align:center;
	color:white;
	margin-top:15px;
	padding-top:5px;
}

.image{
	width:20%;
	float:left;
}





.port{
	width:20%;
	float:left;
	background-color:#4aaaa5;
	color:white;
	padding-top:10px;
	padding-bottom:10px;
}

